.header-container {
  background: black;
  height: 32px;
  padding: 8px 32px 8px 16px;
}
.btn-login {
  float: right;
}
.app-logo {
  animation: app-logo-spin infinite 8s linear;
  height: 35px;
  background: #ff7f7f;
}

@keyframes app-logo-spin {
  from {
    transform: scaleX(-1);
  }
}

.tab-margin {
  margin-bottom: 20px;
}
.tab-content {
  display: flex;
  flex-direction: column;
  align-content: center;
}
.dispNone {
  display: none;
}

.dispBlock {
  display: block;
}

.red {
  color: red;
}
.btn-bookShow {
  float: right;
  margin-right: 10px;
}
