::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: grey;
}
.movies-poster {
  height: 100%;
  width: auto;
}
.movies-poster-released {
  margin: 8px;
}
.movie-poster {
  width: auto;
  height: 100%;
}
.left {
  width: 76%;
}
.flex-container {
  display: flex;
}
.flex-container > div {
  margin: 16px;
}
.right {
  padding-top: 20px;
  width: 24%;
}
@media (max-width: 992px) {
  .flex-container {
    flex-direction: column;
  }
  .left {
    width: 100%;
  }
  .right {
    width: 90%;
  }
  .released-movie-grid-item {
    margin: 8px;
  }
}
